[2015-01-14 18:17] qjhart opened #1 "No origins or terminals in json def"
No CSV for these either.  They will be pulled from the filesystem.

[2015-01-20 19:09] qjhart opened #2 "Updated format for CSV files"
I think all CSV files should be only for one type, and not for multiple names in the same file.  This should make for more simple ingests.  Although there wil be multiple files for arrays of data.  Also, I think the json-schema should be modified to eliminate the object names for arrays of data.  For example, for inflows; the new schema (see https://github.com/ucd-cws/calvin-network-data/blob/mast

[2015-01-20 19:09] qjhart commented on #2
Checkout the _csv_update_ branch for an example.

[2015-01-20 19:32] jrmerz commented on #2
@qjhart In your example, why is the 'inflows' value an array and not an object?

[code]

translating to

[code]

[2015-01-20 19:42] qjhart commented on #2
Yeah, that is better. I wonder if I can create a json-schema definition to match that.

[2015-01-20 20:07] qjhart commented on #2
Yes, that can be done.  I am struggling with the notion of identifiers.  In one sense, they are nice to have; but are they required?

[code]

On the other hand, should they be expanded?

[code]

You can actually see this in the original inflow data. I'm not super excited about all the _data:_ references.

[2015-01-20 20:11] jrmerz commented on #2
@qjhart why not...

[code]

?

[2015-01-20 22:50] qjhart commented on #2
Because then the location of the data in a complete record would be different.
You would have to have:

[code]

On the plus, lets throw in `citation` and you have now convinced me your idea was better :)

[2015-01-21 15:43] jrmerz commented on #2
Ok, sounds good :+1:

[2015-01-21 16:20] #1 closed

[2015-01-21 16:24] qjhart opened #3 "New General purpose object definition"
IN JSON-schema, divide the common.js into common.js and common-node, common-link.  Common.js includes description, citation; we extend this to data for most objects, but the naming in not a requirement.  Common-node and common-link may share a common-link-node.js as well.

[2015-01-21 16:36] qjhart opened #4 "Begin validation steps"
I guess this will be something like ```grunt validate```.  And we can have sub-tasks like ```grunt validate-links``` ?  First one should test that the filesystem links and nodes corresponds to the origins and destinations in the node definitions.  Should have a reporting and a change the node to match function.  Also can specify the node(s) and or link(s) on cmd line.  If a link is missing a corre

[2015-01-23 00:00] qjhart commented on #4
I'm thinking mostly fur us to come up with a good framework to plug code into.  As per our discussion, maybe this should be moved the the calvin-network-editor, and leave the data clean.

[2015-01-23 14:33] jrmerz opened #5 "Link coordinate order"
It's important for the editor to make sure that the link coordinate order is standardized.  While the editor will verify order, I propose we make sure this order is part of the schema.  I will throw out the order of [origin, terminal].  So you would have:
[code]

[2015-01-26 21:52] #2 closed

[2015-02-06 22:02] qjhart opened #6 "Add docson support for calvin-network-data"
Currently, I am copying the JSON-SCHEMA files to cwn.casil.ucdavis.edu in order to get the online viewing of the json schema via docson.  eg:
http://watershed.ice.ucdavis.edu/docson/#http://watershed.ice.ucdavis.edu/json-schema/types.json
http://watershed.ice.ucdavis.edu/docson/#http://watershed.ice.ucdavis.edu/json-schema/node.json

What would be better is for something like
[code]

To include th

[2015-02-06 22:04] qjhart opened #7 "Fix JSON-SCHEMA references for docson"
While the JSON-SCHEMA naming seems okay for ts4, it seems goofy for the docson tool.  At least the references are not included in the docs.  Can we figure out why that is?

[2015-02-10 20:23] jrmerz commented on #7
@qjhart add links for tools

[2015-02-10 21:38] qjhart commented on #7
Docson is currently running on watershed.ice.ucdavis.edu /var/www/html/docson, eg:
http://watershed.ice.ucdavis.edu/docson/#http://watershed.ice.ucdavis.edu/json-schema/node.json
http://watershed.ice.ucdavis.edu/docson/#http://watershed.ice.ucdavis.edu/json-schema/types.json

Docson is at:  https://github.com/lbovet/docson
I don't think you can do npm install docson, but I could be wrong.

[2015-02-10 21:46] jrmerz commented on #7
No, but it's in bower :) https://github.com/lbovet/docson/blob/master/bower.json

[2015-02-13 15:43] jrmerz commented on #6
I have added a bower init file that will install docson via bower.  Then to serve from apache is simple:
- cloned repo to /opt/github/calvin-network-data
- cd /opt/github/calvin-network-data && bower install
- linked /var/www/docson -> /opt/github/calvin-network-data/bower_components/docson
- linked /var/www/json-schema -> /opt/github/calvin-network-data/json-schema

I can add a little express ser

[2015-02-13 15:46] jrmerz commented on #4
@qjhart we closing this?

[2015-02-13 15:47] #6 closed

[2015-02-13 15:49] jrmerz commented on #7
Per issue #6 docson is now part of the data repo via bower.

@qjhart can you add a little more detail about the parsing issue, and I will look to track down.

[2015-02-13 16:13] qjhart commented on #4
No, this is part of the ts4 validation as well, which I started but didn't finish.  On top of the json-schema validation needs a layer of consistancy checking as described above.

[2015-02-27 23:38] terencewu opened #8 "List of Missing Nodes and Links"
Get an explicit list of nodes that should be missing because of their inclusion in the AGG demand nodes.

[2015-02-27 23:39] terencewu opened #9 "Provide Template For AGG demand"

[2015-04-13 14:51] jrmerz opened #10 "^M and newline characters in geojson"
There are '^M' and newline characters inside the description string in many of the nodes for the region data.  Obviously they break the JSON parser.

[2015-04-28 23:43] qjhart opened #11 "Simplify Polygons for output"
The current polygons that are being used in the cws-regions network are very complicated.  Justin has created a simplified version of these, but they need to be included in the model directly.

[2015-05-15 18:20] qjhart opened #12 "Recover Documentation steps that Jesse Smith started"
At the onset of this project, Jesse did some work collecting the source material used for the creation of the data in the CalVIN model. That was pre-github, and we need to rethink how that would go into the repo.  We also need to capture his work and get the sources in here as well.  Finally, Jesse did some scripting in creating a Mendeley account that includes all this data.  Looking through this

[2015-05-15 18:28] jrmerz commented on #12
Can you share the mendeley account with me and/or give me a pointer?

[2015-05-15 19:07] qjhart commented on #12
Have done, and sent along Jesses list of found sources.

[2015-05-15 20:03] jrmerz commented on #12
(side note, just sent forwarded email with new subject 'for calvin-network-data issue #12' ... gmail needs to add github issue tagging ... )

[2015-05-20 21:07] qjhart commented on #12
@jrmerz regarding this, can we reassociate the original source material to the id numbers in the database?

[2015-05-21 14:26] jrmerz commented on #12
@qjhart which database on which server?  Also, which server is the spreadsheet referencing when it says 'Hobbes'?

[2015-06-02 10:54] qjhart opened #13 "Develop a data only example for data - Reservoir elevations"
We can show the usefulness of the database by showing an example that uses only the input data in the database to do some simple manipulation.  One idea that Quinn has is to show the overall change in all the lake levels as a function of reduced capacity.  We would show a map of the average (and distribution) of elevation changes with a change in capacities.

[2015-06-02 10:57] qjhart opened #14 "Develop a simple spreadsheet model using network-data"
Develop a simple spreadsheet model that will use some of the input data from the current calvin model to run a simple  optimization.  In this case we would use both the input and the output data from the model run and develop a short script to read from the data API and create input sheets needed for the model.

[2015-06-02 10:58] #3 closed

[2015-06-02 11:10] qjhart opened #15 "Compare our input parameters to those of Community Surface Dynamics Water Solution"
We have a number of input types that are used in our JSON schema.  These basic types are found in https://github.com/ucd-cws/calvin-network-data/tree/master/json-schema, and include attributes like:
capacity, elevation, inflows, costs, etc.

CSDMS, http://csdms.colorado.edu/wiki/Main_Page, are trying to standardize their naming scheme for such things in a model, http://csdms.colorado.edu/wiki/CSDM

[2015-06-02 11:33] qjhart opened #16 "Update and Review Urban and Ag Demands"
The new strategy will remove the specialized urban and Ag demand nodes, and replace them with standard constellations of standard nodes and links.  This will simplify the JSON schema for the network dataset.

In this case we will have both physical and non-physical nodes and links however, and we need to decide how these nodes and links will be shown on the map.

[2015-06-02 11:35] qjhart opened #17 "Develop scripts for inputting network data into a postgres database"
We need to validate our new data with some scripting interfaces.  This includes writing some code to input the new database back into postgres so we can do testing and validation in that setup.

[2015-06-02 11:42] qjhart opened #18 "Mass Balance Visualization for Regions"
One very good idea we had from our partners was how to represent the large regional setup in our model.  The general consensus was that at these large regions we could show simple mass balances where the links to the other regions can be simplified as single flows, and we can then see the flows from larger region to large region.

We need to more carefully describe what the user would see when the

[2015-06-02 11:45] qjhart commented on #18
There was also discussion on maintaining the sum of capacities for a region, and maybe determining the overall marginal value of water on regional node.

[2015-06-02 11:48] qjhart opened #19 "Include model output data in the model"
In order to develop mass balance type inputs that are desired for the regional model, we need to include model output data, so we do have all the flows for the model.  We need to review the outputs from a Network model run, and see how those are represented in the JSON schema, and how we extract that from the DSS files.

[2015-06-02 11:51] qjhart opened #20 "Verify the DSS importer is included in the project"
We have switched to using the JAVA dssvue application to convert from our DSS files.  Although this is strictly not necessary for the data project, we should include the scripts that accomplish that.

[2015-06-02 11:55] qjhart opened #21 "Create a DSS exporter for the network model runs"
We need to use the DSSVUE software to export the network model into a DSS format to be ready for import into the network model.  Since this is a java program, I think this would be best to have a standalone interface.  Something, like where you would identify a list of filenames and paths, and the script would create a single DSS files with all those links included.   I don't recall how the DSS im

[2015-06-02 14:31] jrmerz commented on #21
Clarification:  "DSSVUE software to **export the network model** into a DSS format to be ready for **import into the network model**".

What is the data flow?

[2015-06-02 15:58] qjhart opened #22 "Berryessa / Solano - PRM builder Model"
Create a little spreadsheet model that will include both Berryessa and Solano county.  For the curtailments  part, it doesn't seem like we can use the DWRAT project.

[2015-06-02 16:10] qjhart opened #23 "Russian River Spreadsheet Model"
We will develop this model by creating a spreadsheet model that include a small set of inflows and capacities from the Hobbes model.

Jay sez for the Russian River we have a set of data from the curtailments project.  There is some representation of the reservoirs.

[2015-06-04 16:47] qjhart commented on #20
With cf192a2 I have added the DSS export utility.  The way that the calvindb project builds this new database with the the dss2csv script. This is a batch script working on the DSSVUE java software.  This script exports every DSS item into a row of a CSV file.  In this case the array data is exported as a postgres object, but it could just as easily be a JSON object as well.  I expect the Import s

[2015-06-04 16:48] qjhart commented on #21
With cf192a2 I have added the DSS export utility. The way that the calvindb project builds this new database with the the dss2csv script. This is a batch script working on the DSSVUE java software. This script exports every DSS item into a row of a CSV file. In this case the array data is exported as a postgres object, but it could just as easily be a JSON object as well. I expect the Import step

[2015-06-04 16:51] qjhart commented on #20
Moved the discussion of the exporter to #21.  The ~/dss/ directory has the import script and hints on running it.

[2015-06-04 16:51] #20 closed

[2015-06-09 18:59] qjhart commented on #10
@terencewu this is the same parsing issue as you identified.

[2015-06-09 18:59] #10 closed

[2015-06-09 19:00] #8 closed

[2015-06-09 21:42] qjhart commented on #4
Another tool to consider with validation is the Terraformer toolkit, http://terraformer.io/core/

[2015-07-10 19:49] jrmerz opened #24 "Invalid Monthly Cost Data"
This cost says monthly, but the data doesn't look monthly: http://cwn-regions.casil.ucdavis.edu/rest/query?text=C23_C25

It comes from when on the nodes where the csv data file is simply call '.csv': https://raw.githubusercontent.com/ucd-cws/calvin-network-data/regions-dir/data/sacramento-river/c23_c25/link.geojson

[2015-07-14 17:49] #5 closed

[2015-07-14 17:52] qjhart commented on #12
This data has been recovered, and uploaded into sources at: f263486

[2015-07-14 17:52] #12 closed

[2015-07-14 17:57] qjhart commented on #14
Same as #22

[2015-07-14 17:57] #14 closed

[2015-07-14 23:27] qjhart opened #25 "Upgrade DSSVUE for Jython2.5"
In order to use the standard python ```import csv``` file, we need to use a more current version of jython, than comes with the  standard DSSVUE software. dssvue201 uses jython-2.2, there are versions 2.5 and 2.7 since then.  It looks like the version of java used in dssvue (1.6) is too old to run version 2.7, but we can run version 2.5.

In order to use 2.7, we would need to swtich the the system

[2015-07-14 23:30] qjhart commented on #25
In order to make this change, we need to first create a standalone jython.jar file from the 2.5 distribution.  Download the data from http://search.maven.org/remotecontent?filepath=org/python/jython-installer/2.5.3/jython-installer-2.5.3.jar

Then you need to run this installer (selecting the standalone option). Remember, you need to use the HEC java version for this:

[code]

Then copy this to th

[2015-07-14 23:48] #25 closed

[2015-07-14 23:50] qjhart commented on #21
@terencewu  I've tried to get the start of an export to dss script in place.  I found that the distributed version of jython is too old for the `csv` module of python.  I've updated this as described in #25.

[2015-07-29 16:58] qjhart opened #27 "Develop a single JS prm tool"
One major requirement of the calvin-network-data is to provide input for the HEC-PRM  dataset.  I propose that we include this component directly in this project.  I also propose that this is a single JS script (or looks that way),  The provides access to investigate and build the required files for running prm.

## Overview commands.

* ```prm build [prefix]``` - Builds a complete PRM input set.

[2015-07-29 18:13] qjhart commented on #27
In Kragen land, should these be scripts in the control files?

[2015-07-29 18:17] jrmerz commented on #27
I don't propose moving this to repo to the Kraken stack nor do I propose moving the script to the ca-network-app repo.  I think it's good here (personally).  We can look to use a similar model/controller setup if you think that would help this repo's file structure. I am unsure at the moment.

[2015-07-29 19:11] qjhart commented on #27
I didn't mean that.  Just the encouragement to push scripts to a common directory, and in then added to the package.json file.

[2015-07-29 19:58] jrmerz commented on #27
ok, that sounds good to me

[2015-08-04 02:13] qjhart commented on #27
@jrmerz, OK I've done an example proof of concept of using DSSPD.  Here's an example input PD text file:
[code]

Which can be ingested into a DSS file like so:
[code]

Comparing the entry from this new dss file, to the one this data came from, show that (except for the UPPERCASE) of Penalty, they are exactly the same.  Using
[code]
and extracting them gives the same data as well.

The header is pr

[2015-08-07 16:55] qjhart opened #28 "Just use index.geojson for nodes, links and regions"
Not sure we gain any benefit from having these named different things.  I guess we don't have to parse JSON, but think maybe a common method is better.

[2015-08-07 17:11] jrmerz commented on #28
I'm ok with renaming [node|link].geojson.  The regions importer however uses that inheritance model I talked about, which can be done with the region files named index.json, but then every json file needs to be parsed first to inspect if it is a region or not.  Do you still want to proceed?

[2015-08-07 17:18] qjhart opened #29 "Shorthand node and Link names"
I've discussed the need for relative paths, but there is this problem of making the names short but globally ok for both the PRI file, and the links in the db.  Here is one idea:

[code]

Then in PRI file we use ```ea.foo, sc.foo sc.bar yb.wtb```

[2015-08-07 17:42] jrmerz commented on #29
Need more info.  Perhaps a cleanup of the code snippet?

[2015-08-25 18:06] qjhart opened #30 "Get a List of all the Post-Processes that are required from the data."
Right now we are focusing on the scarcity postprocessing.  We need to get the list of post-processing steps that Josue acquired for a more complete set.

[2015-08-25 18:07] qjhart opened #31 "Include FLOW_DIV,MARG_COST, STOR, and PCT_EXCEED_FLOW_DIV outputs in the model"

[2015-08-25 18:12] qjhart opened #32 "New regions for Ag and Urban Demand"
We will add new regions, for both Ag and Urban demand.   These will either be within CVPM regions or PSAs.  That means there will be as many as 4 levels.  Our first pass will be to use notional regions (hexagons and pentagons) for these demands, but we will be looking into adding the real demand regions.

[2015-08-25 18:20] qjhart commented on #29
We discussed this as at the 2015-08-25 meeting.  I have started a small application that shows the smallest shorthand for each link.  Still needs to be worked out.

[2015-08-25 18:22] qjhart commented on #16
We've decided that these will be their own regions, and eventually have only relative names.  There

[2015-08-25 18:22] #9 closed

[2015-08-25 18:24] qjhart commented on #19
Merged with #31

[2015-08-25 18:24] #19 closed

[2015-09-01 19:11] qjhart opened #33 "Determine what we want to see on region links."
It is becomoning clear that having multiple types of data on the region links will be helpful, especially in terms of creating boundary conditions for new sub-models.  We need to start to think about how the region data can be summarized to include more than flows, inflows, sinks and storage.

![image](https://cloud.githubusercontent.com/assets/344953/9613752/39473ef8-50a2-11e5-917f-907c811a12e0.p

[2015-09-02 20:03] qjhart commented on #30
@josue-medellin you  can just add the list, and desciptions (if you have them) directly to this issue.

[2015-09-02 20:14] josue-medellin commented on #30
Quinn, should I add a text file with the steps to follow postprocessing of scarcity?

[2015-09-02 20:17] qjhart commented on #30
@josue-medellin That one is documented at: https://github.com/ucd-cws/ca-water-network/issues/4 since i think we can do it all with the data we have.  You can add to that issue, if you think something is missing.  We need to think about any other post-processing.

[2015-09-04 22:10] qjhart opened #34 "Complete the geolocation part of the node/link inspector tool"
There is the beginnings of a node/link inspection tool, https://github.com/ucd-cws/calvin-network-data/blob/master/bin/inspect/index.js . This is maybe misnamed as I'd like some editing capability to that as well.  One feature should be the ability to edit the location of a node from the command line, maybe with something like

[code]

Where the appropriate geojson file is found, and the centroid

[2015-09-14 17:16] qjhart commented on #34
[code]

But maybe

[code]

[code]

| filename | id | longitude | latitude |
| --- | --- | --- | --- |

[2015-09-14 20:14] jrmerz commented on #34
Added to master of app repo.  Functions are documented here: https://github.com/ucd-cws/ca-water-network/tree/master/lib/cmd

[2015-09-14 20:14] #34 closed

[2015-09-15 16:39] qjhart commented on #30
There should be three post-processing events.  @jrmerz THis is is probably in the browser tool.

[2015-09-15 18:11] jrmerz opened #35 "Valid windows dir names"
I hate to do this... but can we use valid windows directory names?  data/colorado-river/coachella/coach/int:-coach is failing to clone in windows.

[2015-09-15 18:15] qjhart commented on #27
DSSPD located at http://www.hec.usace.army.mil/software/hec-dss/utilities/

[2015-09-16 23:43] qjhart commented on #35
Tried removing colons from master: Fixed with 39f6a891fa00969136d9de4d2c352abb2ff66f55.  These should be removed in new naming scheme as well.

[2015-09-16 23:43] #35 closed

[2015-09-21 22:17] qjhart opened #36 "Metadata Standards"
There is interest in capturing the metadata records that have previously been entered.  The previous metadata is pretty complicated.   You have the ability to assigin a metadata record to a large number of things.

| item | count |
| --- | --- |
| Inflows.Inflow | 51 |
| Link.Amplitude | 136 |
| Link.Cost | 86 |
| Link.LowerBound | 42 |
| Link.LowerBoundMonthly | 5 |
| Link.LowerBoundPathname | 32

[2015-09-21 22:27] qjhart commented on #36
Alternatively, we can only have one README file, and then divide the README into pieces using headers.  Then if the header has a mongodb filter/projection that looks valid, the comment is for that particular component.  Actually, I like this better.  First, you can read all the comments in one place, second, we can defer putting access to the metadata in multiple places for awhile, but get there e

[2015-09-21 22:28] qjhart commented on #36
@jrmerz What do you think re. either of these strategies?

[2015-09-22 15:13] qjhart opened #37 "Edits made during first pass"
We are currently running our first pass through the node relocation steps.  There are a number of things to think about with this.

* Line Work - Although the plan will be to associate line work with each link, the current pass through the data will only be the node movement
* New Nodes - In this process, we sometimes see the opportunity to add new nodes to the system.  We could probably automate

[2015-09-22 15:13] qjhart commented on #37
![whiskeytown](https://cloud.githubusercontent.com/assets/344953/10022433/ab1e2d9c-6101-11e5-985d-4b2494500463.png)

[2015-09-22 15:40] qjhart commented on #36
## 2015-05-09 Quinn Hart qjhart@ucdavis.edu {amplitude:1}

Below this, you should have, in reverse chronological order, the changes that have been made to this.  The headline should include the date, and the author, and optionally, the part of the data that you are working on.  This can be explained in this section as well.

## 2015-05-18 Quinn Hart qjhart@ucdavis.edu {bounds:1}

You have three op

[2015-09-22 18:48] qjhart opened #38 "2015-09-22 Meeting"
* Mimi is joining us,

One of the original CalVIN makers.  She will be working on this effort.   Mimi made everything come together on a day-to-day basis.  She is very good at finding data issues.

* Meagan, is here, but relates to the website.

Case Studies:  (Two new studies): All node locations, Upper bounds

CalVIN short course / Presentation

DSSBuilder: Java version, pretty fast.  There are

[2015-09-22 22:55] mclay120 opened #39 "c87 _ d76a _d77"
Description suggests it should be in the order C87_D77_D76a.
Search for Ord Ferry Reach (D76a) is in Chico, downstream from D77 (Red Bluff diversion dam).

[2015-09-22 22:56] mclay120 opened #40 "c81"
C81 junction with no input

[2015-09-22 23:16] qjhart commented on #40
Hmmm, Node 'C81' has some inflow associated with it, so that makes it okay as a starting point.  However, I see that between versions 33 and 48, both C81 and C82 have been removed. @msdogan can you verify that's the case.  Also, that means I need to check with @jrmerz re. updating our latest version.   I see that there are quite a few differences in PRMNamed nodes.

[2015-09-23 04:15] mclay120 opened #41 "SR-ENG_C28_C29"
The order should be SR-ENG_C29_C28.  Deer Creek is immediately downstream from the source.  Dry Creek is further down stream.

[2015-09-23 04:21] mclay120 opened #42 "C31"
The tags should change from California > Colorado River > Imperial Valley   to
California > Sacramento River > Central Basin East

[2015-09-29 18:54] msdogan commented on #40
I couldn't find node C81 in both versions (S08I33 and S08I48). There are nodes C80 and C83 but no C81 or C82. Where are C81 and C82? Maybe they are named differently in PRMname and node label.

[2015-10-02 20:58] jrmerz commented on #36
App now imports and renders README.md markdown ucd-cws/calvin-network-app@69b29dce09b57c3798ff300a55b7f55bc7220a75

[2015-10-06 04:21] jrmerz opened #43 "Nodes prmnames should not have '-' in them"
I thought we had discussed only allowing link prmnames to have '-'.  That way they were always [prmname_origin]-[prmname_terminus].  If we allow '-' in node names as well you can't infer if it's a node or link from the name.  Let me know if I am wrong on this.

[2015-10-06 18:21] qjhart commented on #43
This is a non-resolved issue.  Currently, I have not made changes to the prmnames from the input system, only to the filename of the nodes.  I realize this is not ideal.  I'll send a note about this to all.  However the node type can be used as well.

[2015-10-06 18:31] jrmerz commented on #43
The problem is with the new 'Region Link' type.  You can think of them as virtual links.  I want to keep the url structure the same in the application, so the url for a region link is /#info/[region/node origin]-[region/node terminus].

When the info page loads, it attempts to lookup the node by the defined url parameter (prmname).  If the given prmname can't be found, the app assumes the prmname

[2015-10-06 21:42] jrmerz commented on #43
temp fix here for now ucd-cws/calvin-network-app@76638d4511a30af4fbf40dcff4c57429456be782

[2015-10-08 22:32] qjhart opened #44 "Investigate updating Openstreet map updates for Calvin"
Not all Water conveyence information is available on openstreet maps.  We need to understand what that will take in terms of time and effort.

[2015-10-08 22:35] qjhart commented on #44
@mclay120 investigated this with the example of the clear creek tunnel.  Before her changes the tunnel was not displayed on OSM.  This was a relatively straightforward fix, since the data was actually in OSM, it just needed to be tagged properly.

In this overview, you can see the complete tunnel.

![screenshot from 2015-10-08 15 29 55](https://cloud.githubusercontent.com/assets/344953/10381725/e2

[2015-10-08 22:38] qjhart commented on #44
@mclay120 has identified some additional canals/tunnels that are not in OSM at all.  Her next step is to add in this linework, and tag the data as a more complete example.

[2015-10-08 22:48] qjhart opened #45 "Example Diversion Linework"
We need to investigate the time and effort it will take to add linework to th existing calvin model.  We also need to decide if NHD and/or OSM is the best choice for that linework.  Mui has
We will use the following  paths as our test:

sr_sha -> d5
sr_cle -> d94 -> sr_whi -> d5 -> d73
                                      -> d73            -> c2 -> d74 -> c5 -> c87 -> d76a -> d77

[2015-10-08 22:51] qjhart opened #46 "Explain Sinks"
@ucd-cws/hobbes , there were renewed questions about sinks.  We need to add the description of how they are treated into the documentation of how the conversion from calvin to Hobbes is working.  However,  this is a review of what was previously discussed.  The gist of this is that in Hobbes, sinks are not defined as separate nodes, but instead as a part of object.  This is more like how inflows a

[2015-10-08 23:00] qjhart commented on #16
Both ag and Urban demands were moved to regions, and updated with a set of virtual nodes.
Closed with 828331fedc58fdfc9b7a4660712b6594a8d8f95c

[2015-10-08 23:00] #16 closed

[2015-10-08 23:01] #17 closed

[2015-10-08 23:04] qjhart commented on #13
We have added a fie other examples to the network water app.  https://github.com/ucd-cws/calvin-network-app/wiki

[2015-10-08 23:13] qjhart commented on #18
The newer versions of the data include a the output flow information, and this is now available via an aggregation API via the network APP.  We need to expand this to include inflows and sinks.  Moving to https://github.com/ucd-cws/calvin-network-app/issues/8

[2015-10-08 23:13] #18 closed

[2015-10-08 23:15] qjhart commented on #23
Tabled for now.

[2015-10-08 23:15] #23 closed

[2015-10-08 23:15] #38 closed

[2015-10-08 23:18] #24 closed

[2015-10-08 23:19] qjhart commented on #11
Current model simplifies this data to 500 m.

[2015-10-08 23:19] #11 closed

[2015-10-08 23:21] qjhart commented on #32
Closed with 828331fedc58fdfc9b7a4660712b6594a8d8f95c

[2015-10-08 23:21] #32 closed

[2015-10-08 23:24] qjhart commented on #36
Starting with 7f5fb05300c7a6d9963c0b51626f91f5510c399d we have READMEs.  They need to be reviewed, and more importantly, they need to have the information to their supporting data included.

[2015-10-08 23:27] qjhart commented on #37
Updated with #44 and #45.

[2015-10-08 23:27] #37 closed

[2015-10-08 23:36] qjhart commented on #40
In what I have as version S08I33, C81 is Nodes.ID=67 and C82 is Nodes.ID=68.   Neither of these are in S08I49, so I will close this issue.

[2015-10-08 23:36] #40 closed

[2015-10-08 23:37] qjhart commented on #39
@msdogan can you look at this small section, and see about the order of these nodes?

[2015-10-08 23:38] qjhart commented on #41
@msdogan can you look at this question form Mui as well?

[2015-10-08 23:39] qjhart commented on #42
I don't understand this bug.

[2015-10-08 23:40] #42 closed

[2015-10-08 23:41] qjhart commented on #42
Fixed

[2015-10-08 23:57] qjhart commented on #43
@josue-medellin / @msdogan  We have visited this before, but this is another change.  When going to the new fs based version we propose to elminate all but [a-z][0-9]_ from node names.  This is primarily to match using '-' for links only, and to elminate spaces and ':'.  This does not lead to any name collisions.  We also like to switch to lowercase, but that's just for easier typing.  Comment if

[2015-10-10 00:03] mclay120 opened #47 "C86"
What is junction C86?  There is no description of what this junction represents.  It is not located in any place of significance viewed with the background map.  I'm leaving as is but seems out of place.

[2015-10-10 13:54] josue-medellin commented on #47
I will access the original CALVIN network and get back toyou within the next couple days.

[2015-10-10 19:39] josue-medellin commented on #47
Hello, it is a junction node that takes water from depletion area 5. Thomes Creek and Elder Creek inflow to Sacramento River. receives flow from the aggregate (Depletion Area 5) and puts that in to a reach of the Sacramento River (D75). I hope it helps

[2015-10-12 17:43] msdogan commented on #39
Looks like D76a is a dummy node. Probably there was a minimum in-stream flow requirement downstream of that node but got rid of / displaced it. If you like I can take d76a out in the next version. Or we can update the description.

[2015-10-12 17:50] msdogan commented on #41
I think current order is correct. Deer creek (c28) is right downstream of Englebright Reservoir (SR-ENG) and Dry Creek (C29) is further downstream. So, order is SR-ENG_C28_C29.

[2015-10-12 17:59] msdogan commented on #43
I think we have discussed this before that we would use "-" only for links and for the rest such as space, we would use "_" but we never applied that change. I can make those changes.

[2015-10-12 18:09] msdogan commented on #43
One more thing. There is a limit in PRM names for nodes that they cannot exceed 10 character. But there is no limit on node labels, so sometimes you see that prmnames are shorter than node labels. For example, this is node label HSU409BD862B, and prm name HSU409BD86, which is missing "2B" at the end. Hope this does not create so much trouble.

[2015-10-12 18:10] qjhart commented on #39
@msdogan .  Let's remove it on next version. Do you think we will have another import of a new database? Or will this be done in the Hobbes method?

[2015-10-12 18:18] qjhart commented on #41
Something is wrong here.  My input data has these in the opposite order.

[code]

[2015-10-12 18:21] msdogan commented on #39
What I am going to do is to go to link C87_D76a and change destination node from D76a to D77. And then remove Node D76a. We can try in the Hobbes as well but I need your help to do so.

[2015-10-12 18:27] msdogan commented on #41
Yes, node names are messed up. Let's keep the order the same SR-ENG_C28_C29. I am going to update the node description in the next version.

[2015-10-12 19:22] qjhart opened #48 "Missing Sink on 'D94' - Other Bad Bounds"
@msdogan, we discussed that fact that node D94 was missing a sink.  I tracked that down, to a quick fix that I made, where I eliminated some Sinks from the network where the LowerBoundPathname was  not in the TS.dss file.  This included the ```D94``` sink.  Either that was a mistake or it was fixed on an updated version.  There is still one item however where the LowerBoundPathname for a link is n

[2015-10-12 21:31] msdogan commented on #48
Yes, it's good that you have eliminated pathnames that are not in the TS.dss or PD.dss files. However, for D94 we have time-series in TS.dss file with a pathname "/HEXT2014/D94_SINK D94/FLOW_LBT(KAF)//1MON/CALSIM - C100_MIF/". For the link C54_D608 yes, we don't use "/UCD CAP1/C54_SINK/FLOW_FXC(KAF)//1MON/BOUNDARY FLOW 3 WITH LOSSES/" instead flows on this link is constrained and pathname is "/HEX

[2015-10-12 21:51] msdogan opened #49 "PRM Names and Labels"
There is a ten character limit in PRM name field in Microsoft Access database. So, sometimes PRM names are different than their labels in the database. I thought it is something built-in but I saw that it was intentionally limited in Microsoft Access to 10 character. I am planning to change the character limit (increase maybe) and make PRM and Label names the same to make pre and post-processing e

[2015-10-13 00:43] #41 closed

[2015-10-13 00:48] qjhart commented on #48
Yes, all accounted for, the import uses the EQC, but still gets a little confused with the LB.

[2015-10-13 00:48] #48 closed

[2015-10-13 01:10] qjhart commented on #49
@msdogan,  Your issue worked great :), I'm not sure why you didn't see it.

The HEC PRM docs identify that as a limit, because of the fixed field size for the IDNODE identifiers for the input.  The HEC-PRM docs also imply that it's a limit in DSS files, but that not the case.  Let's look at a node with a 10 char value `HSU103AC13` for example.

Here's everywhere in the generated PRI file where tha

[2015-10-13 01:10] #49 closed

[2015-10-14 21:36] msdogan commented on #46
I have a fairly simple suggestion for the sink representation in Hobbes. Sinks have several meanings in CALVIN. They can represent local depletion, canal loss, calibration flow, local demand, or end of the model. But basically we use them to take flow out of the system. In Hobbes, a sink is not represented as a node. My suggestion is that instead of determining if the node is junction or has assoc

[2015-10-20 16:31] qjhart commented on #46
This table shows the number of removed sinks and some indication of where they are moved to

| item | nodes | links | delete |
| --- | --- | --- | --- |
| Original | 1183 | 1636 |  |
| Removed Non-Junction Node Sinks | 1149 | 1602 | 34 |
| Removed Link Sinks | 1080 | 1533 | 50+19 |
| Removed Junction Node Sinks | 1062 | 1515 | 18 |
| Removed Junction Calibration Inflows and Sinks | 1062 | 1515 | 0

[2015-10-20 18:23] qjhart commented on #27
We need to have some sort of configuration file, that includes things like the location of the HEC-PRM data.

[2015-10-20 21:45] qjhart commented on #27
For the PRI file, we need to do the following:

## Write Header (pg 37-45)
- Write a comment string  on when built, etc.
- Write Super Source / Sink
- CycleYearly - Controlled by config {cycleyearly: boolean} , cmd line --cycleyearly or --no-cycleyearly
- Time - controlled with {start_date: end_date} : cmd_line --start_date=2014-01-01 --end_date=2015-10-10
- J1-JJ, PR - Let's copy a current versio

[2015-10-20 23:09] jrmerz commented on #27
starting prm tool here: b2d2bc36271cb0bb2fcb0229267c155062f669fa
the old app crawler has been ported here: https://github.com/ucd-cws/calvin-network-data/blob/master/export/nodejs/crawler/index.js

[2015-10-23 00:44] qjhart opened #50 "Updates to the dssWriter - Command Line and new writers."
Updates are required to use the prm builder.
I have added some pseudo code at 6d3cab95f37cbf3091e32dfd627dfd1ba630d002 that shows the three types of dss inputs, and how we need to modify the command line parameters to support the different types of data that go into the DSS files. It's on a separate branch, since it's not even good comments.

[2015-10-23 15:36] jrmerz commented on #50
Why are you moving logic to the jar?  I like the idea of just passing what you think each part (A-E) should be.  But why add a path parameter that the java code needs to parse?  Seems like you are proposing more functionality when we had discussed the java code doing as little as possible.

[2015-10-23 17:34] qjhart commented on #50
I basically left that in since it was there already, but I don't see why we would ever use it, so we can leave  that out.  It's not really really moving logic into  there however, just giving us the abilitiy to add in non-standard entries to a DSS file if ever needed.   The part[] spec is HEC-PRM specific.

[2015-10-23 18:21] qjhart commented on #50
Also, Although my notes are conflicting, I think we should use partD as Q(KAF)-P_EDT and PS_EDT since I think they are correct.

[2015-10-23 18:47] jrmerz commented on #50
So I have added the Jackson library, which gives us json parsing.  The current code (just checked in above) has the idea that there is almost a one-to-one correspondence between a passed JSON object and what is written in java.  There will only be one input parameter as well, a giant JSON string.

so it will be run like

[code]

what json looks like

[code]

Under this setup you will also be able

[2015-10-23 19:06] qjhart commented on #50
Is this in addition, or as an alternative?  I still like the idea of
java dssWriter --partB=Foo --partD='K(KAF)-EDT' --partE='APR'
--csv=./.../APR.csv

On Fri, Oct 23, 2015 at 11:47 AM Justin Merz notifications@github.com
wrote:

[2015-10-23 19:10] jrmerz commented on #50
Why?  This library should only be used wrapped in our NodeJS code.  This is
what we discussed, no?

Creating the 'node prm' interface that follows this convention would be fine.  But under the hood, the communication with java would always be this JSON object.

[2015-10-26 16:54] jrmerz commented on #50
The NodeJS code and Java code have been updated to use JSON as the communication protocol.  The command line 'API' and/or flags should be defined/parsed in NodeJS then sent as this standard JSON packet to the Java code.  Currently the cost paired data write example using the output, csv, month and prmname flags can be seen [here](https://github.com/ucd-cws/calvin-network-data/blob/add-dss/export/n

[2015-10-26 17:53] qjhart commented on #50
@jrmerz. Yep, sounds good.

[2015-10-27 15:09] jrmerz commented on #50
Ok with this issue implemented.  Let's keep the rest of the command line tools discussion happening on issue #27

[2015-10-27 15:09] #50 closed

[2015-10-27 16:26] qjhart commented on #46
This table shows the origin type of the sinks that are removed.

| type | count |
| --- | --- |
| Agricultural Demand | 4 |
| Groundwater Storage | 1 |
| Junction | 68 |
| Surface Storage | 2 |
| Urban Demand | 12 |
| Water Treatment | 15 |

[2015-10-27 16:26] #46 closed

[2015-10-27 18:23] msdogan opened #51 "Updated CALVIN Database"
I have updated Node Names (and PRM Names), Link Names, and Inflow Name based on our naming convention. Now we use "-" only for links to connect two nodes, and "-" is eliminated from Node Names. Here is the link to updated CALVIN Engine (Database):

X:\calvin\CALVIN_PP_Update\0.CALVIN_Engine_10272015 VP_MSD

There is a few more changes we have made in the past weeks in addition to naming:
- New ope

[2015-10-27 20:32] qjhart commented on #51
@msdogan Sounds good. I checked it out, and I can programmatically change the name on this side, (for the node locations), and everything looks good.  Minor PRMName change EXTRedding => EXT_Reddin and INT as well.  But yes, let's get that output run.  Then reassign this issue to me.

[2015-10-27 20:33] qjhart commented on #51
Also, be sure to give it a good version name.

[2015-10-30 18:05] qjhart opened #52 "cmd line tool for non-prm tasks"
I noticed in https://github.com/ucd-cws/calvin-network-editor/issues/1 that @jrmerz had started some cmd-line tools for the nodes.  This along with the lat-lon picker suggests to me that we probably need to be thinking about a json network tool.  There's probably good reasons to think about mimicking the API as well, so we can use the same CMD tool both for local files, and for networks, if that m

[2015-11-02 19:40] msdogan commented on #51
Yes, I renamed Urban Redding as EXT_Reddin and INT_Reddin just to be consistent with other urban labels, although I had to eliminate "g" at the end. Here is the link to the updated CALVIN run. It's named as S09I05.
X:\calvin\CALVIN_PP_Update\Runs\S09I05

[2015-11-02 20:37] jrmerz opened #53 "Negative evaporation data"
@qjhart some of the evaporation data is negative?  Is that correct?  Ex:
https://github.com/ucd-cws/calvin-network-data/blob/master/data/sacramento-river/southeast/sr_oro/evaporation.csv

[2015-11-03 22:14] qjhart commented on #51
@msdogan so I've been looking at the sinks a bit more, and I have some questions about some of the output data.  I see a number of sinks (mostly on WWP) that seem to have sinks, but no flows in the output.

[code]

---

 WWP205-Sink_G19
 WWP208-Sink_G23
 WWP209-Sink_G24
 WWP301-SinkG25
 WWP304-SinkG26
 WWP502-Sink_G33
 WWP504-Sink_G37
 WWP505-Sink_G40
 WWP506-Sink_G44
 WWP507-Sink_G45
 WWP509-Sink

[2015-11-03 22:18] qjhart commented on #51
@msdogan also, there is one calibration node with flow still.  CN2-N201

| prmname | ymd | val |
| --- | --- | --- |
| CN2-N201 | 1924-09-30 | 6.604 |
| CN2-N201 | 1924-10-31 | 5.239 |
| CN2-N201 | 1931-09-30 | 4.348 |
| CN2-N201 | 1931-10-31 | 6.691 |
| CN2-N201 | 1988-09-30 | 3.108 |
| CN2-N201 | 1988-10-31 | 5.719 |

[2015-11-04 02:27] qjhart commented on #51
@msdogan  There seem to be two DSS filename mismatches:
The value for UpperBoundPathname = _/HEXT2014/HXI305_EXT: CVPM12/FLOW_UBT(KAF)-TARG//1MON/EB SOUTH UPDATE/_
 doesn't match the DSS file for link HXI305-Ext_CVPM12.

And the Constrained Flow pathname for link 'N201-Sink_N201'
/HEXT2014/N201_SINK N201/FLOW_LOC(KAF)//1MON/CALSIM - D290+D292/ is not found in the DSS file

[2015-11-05 18:51] msdogan commented on #51
@qjhart First I am going to start with Sinks. I have checked a few of sinks (WWP205-Sink, WWP208-Sink, WWP209-Sink, and C62-Sink_C62) but there seems to be some flow in the output file (S09I05.DSS). These are mostly discharges to ocean (end of model), so there is no bound. CALVIN dynamically decides how much to discharge.

C62-Sink represents canal losses on Friant-Kern Canal. Yes it is a constrai

[2015-11-17 01:23] qjhart opened #54 "Missing EAC data in S09I05 PRI files"
In attempting to recreate the current Calvind s09I05 runs, I noticed that there are no EAC (Elevation Area Capacity) input lines in the S09I05.pri file.  Is that correct?

[2015-11-17 01:36] qjhart opened #55 "Small but import changes in Penalty functions"
@msdogan this I guess is not an error, but just something I noticed.  Originally, when converting to and from the DSS PD files, I used 3 decimal points as a roundoff.  I mistakenly thought that would be reasonable.  However, this causes errors when running the hecprm.exe code.  This is because in penalty functions, the x value needs to change, and some changes are very small, for example that of n

[2015-11-17 23:26] msdogan commented on #54
Yes, those inputs are not used by HEC-PRM. But, we will keep them, as we discussed in the meeting, since others might be interested in seeing EAC curves.

[2015-11-17 23:28] msdogan commented on #55
I this issue was also resolved. We will use 7 decimal points and/or modify penalty data.

[2015-11-17 23:42] msdogan opened #56 "PRI files for regular, initial solution and debug modes"
@qjhart I have created three sets of PRI files, which are in this folder: X:\calvin\Quinn-NetworkWork\Hobbes_PRI_Trial
First mode is debug mode.
Second one is initial solution mode.
Third is neither debug nor initial solution mode.

In the initial solution mode. We select flows (in DSS file, identified FLOW_DIV in Part C) and storage (STOR in Part C) values from previous run's output DSS file. And

[2015-11-20 18:50] #13 closed

[2015-11-20 19:02] #43 closed

[2015-11-20 19:03] #33 closed

[2015-11-23 23:19] qjhart opened #57 "Adding types to losses / inflows"
In order to properly create water balances, a proposal was made to include a type parameter to the sinks.  These can then be combined with the output data when doing regional summing.

- [ ] Potentially change SINK to OUTFLOW
- [ ] Add type of 'Consumptive Use', 'Conveyance Loss' (aka Carriage loss from delta) 'Other', 'Reuse'
- [ ] Potentially type Links as well. 'Diversion','Demand Flow','Return

[2015-11-23 23:20] qjhart commented on #57
@mimijenkins1 If you give me 1 to 3 links you want to highlight, I can add them in as examples.

[2015-11-23 23:49] mimijenkins1 commented on #57
1) Outflow Sinks (to SF Bay):
G19 and G23
Associated links: WWP205 to G19, WWP208 to G23

2) Conveyance Loss Sinks:
G6 (Losses on CAL Aqueduct)
G7 (Losses on Mendota Canal)
Associated links: D743_Sink G6,  D703_Sink G7

3) CU Sinks:
G2 (Ag deliveries on the Yuba R, outside of Calvin economically modeled
demands)
G35 (Local demands on the Bear R, outside of Calvin economically modeled
demands)
Asso

[2015-11-24 00:00] qjhart opened #58 "Move Amplitude to Outflows"
We are considering removing the amplitude on a node, and replacing that with changes to the sink/outflow parameters.   This would be a more standardized method of description.  In order to support that, we'd also need to have a new constraint type; at least something like CFP/CF%  'Constant Flow Percentage'

Some examples:

## Consumptive  Loss

[code]

Might become
[code]
 "properties":{"prmname"

[2015-11-24 00:02] qjhart opened #59 "Consider adding more informational nodes"
Nodes like 'SF Bay', 'Ocean' and have a more descriptive destination for some water as opposed to them going out of the system as 'Sinks'.

[2015-11-24 00:22] mimijenkins1 commented on #59
Agree, we should add more of these informational nodes to track where
water this water goes, as outflows, when it leaves the CALVIN system.
Let's discuss at meeting tomorrow and decide.
On Mon, 23 Nov 2015 16:02:17 -0800, Quinn Hart notifications@github.com
wrote:

##

Marion W. Jenkins, PhD
Associate Research Engineer
Dept. Civil & Environmental Engineering
Ghausi Hall, Rm 3019
University of Cali

[2015-11-24 00:30] mimijenkins1 commented on #58
Amplitudes are on links so not sure I understand how this loss could be
attached to a node. For example, what happens if there is more than one
link going out from the node, each with a different amplitude?  Don't we
need to keep these flow losses on their respective links?

On Mon, 23 Nov 2015 16:00:08 -0800, Quinn Hart notifications@github.com
wrote:

##

Marion W. Jenkins, PhD
Associate Researc

[2015-11-24 01:22] qjhart commented on #58
@mimijenkins1 I think everyone of my examples are on links. Sorry, I see that I said node, where I meant to write 'link'.

[2015-11-24 18:43] qjhart commented on #57
-  Conveyance Loss Sinks:
  G6 (Losses on CAL Aqueduct)
  G7 (Losses on Mendota Canal)
  Associated links: D743_Sink G6,  D703_Sink G7

https://github.com/ucd-cws/calvin-network-data/blob/master/data/tulare-lake/san-luis-west-side/d747-d749

[code]

Becomes:

[code]

[2015-11-24 20:39] qjhart opened #60 "Remove Binary history"
We have split off the binary data from the data repo.  I think now is a good time to clean up the history of the repo as well.  I have done the following commands:

[code]

The S09I05 branch now has one commit, and the with-binary has all the 143  (mostly binary) commits.  The master branch has all commits as well.  I propose we replace the master with the S09I05 branch, with

[code]

The I guess

[2016-01-07 21:39] #27 closed

[2016-01-07 22:07] jrmerz commented on #21
Believe this is implemented by: https://github.com/ucd-cws/calvin-network-tools

[2016-01-07 22:07] #21 closed

[2016-01-07 22:12] jrmerz commented on #60
@qjhart you ran this, no?

[2016-01-07 22:42] #29 closed

[2016-02-05 19:15] #60 closed

[2016-02-19 00:17] qjhart opened #61 "Investigate differences in PRI code"
There are a few items in the current data that don't transfer over properly

## Missing Nodes
The following nodes are missing from the calvin network data. CN1,CN3,CN4,CN5.   They seem to be disconnected in the network anyways. (Except for CN2)
[code]

[code]

## Link issues.

There are two problems with the links.  First, the precision of the data is off between the two.  It appears as if LIAMP=p

[2016-02-19 02:25] #54 closed

[2016-02-19 02:26] #55 closed

[2016-02-19 02:26] #51 closed

[2016-02-19 02:27] #39 closed

[2016-02-19 20:02] qjhart commented on #61
@msdogan you can read above, but input issues are summarized here.

These first two are mostly just FYI, I can fix them in the conversion,
- [ ] S09I05PD.dss Path: /SOUTH UPDT/T61_EXT: YUBA/Q(K$-KAF)-P//FEB/2050H POP 030911/ has second value 1e-7 which using HEC export comes out as 0.0000, making errorneous input
- [ ] S09I05PD.dss : Path /SOUTH UPDT/T41_EXT: REDDING/Q(K$-KAF)-P//FEB/2050H POP 030

[2016-02-22 07:21] msdogan commented on #61
@qjhart Let's start with Calibration Nodes (CN).

There are 5 Calibration Nodes, one for each region. Each CN has one source and one sink. These are only to make mass balance work. For example, if there is a problem with mass balance in a node in Region 1 (Upper Sac. Valley), we use CN1. Currently, only CN2 is being used in the upper Bear River watershed in the Historical Base CALVIN run. CNs does

[2016-02-22 18:58] mimijenkins1 commented on #61
For the last point, is this about the differing methods of month blocking ?

i.e., copied here below (FEB exterior paired penalty data for yuba and redding)

ext_YUBA:
capacity,cost
 0,0.01
-0,0
+1e-06,0

ext_REDDING:
capacity,cost
-0,0
 0,0.01
+1e-05,0

As Mustafa has noted these are probably round-off and precision formatting errors generated by the Macro, and were not cleaned up before uploadin

[2016-03-30 21:39] #7 closed

[2016-03-30 21:47] #28 closed

[2016-06-20 22:01] msdogan commented on #53
@jrmerz I just saw this issue while looking at past issues. Not, sure if it is still an issue. Yes, that's correct. Those time-series net evaporation rate time-series (Evaporation - Precipitation). So, some winter months, if precipitation on reservoir area is greater than evaporation, then it is negative.

[2016-06-20 22:13] jrmerz commented on #53
@msdogan Thanks!

[2016-06-20 22:13] #53 closed

[2016-07-19 21:05] msdogan opened #63 "Missing Link Cost (Penalties) on PMP links"
@qjhart @jrmerz I opened the same issue under HOBBEStoPRM repo (https://github.com/msdogan/HOBBEStoPRMcomparison/issues/4), but I guess this is a better place. We discovered that cost values are missing for following pumping plant links:

    PMP-DOS AMIGOS_D744A
    PMP-ONEIL_D814
    PMP-WHEELERRIDGE_D862A
    PMP-OSO_D884
    PMP-SOUTHBAY_D891
    PMP-DEL VALLE_SR-DLV
    PMP-GIANELLI_SR-SNL

[2016-07-19 21:51] jrmerz commented on #63
We should probably be making all changes to data repository (https://github.com/ucd-cws/calvin-network-data).  That's our 'database'.  Unfortunately we would have to wait to script those changes as I do not have a Access DB license.

If you are able to pull out the data, in say, csv format, you or I could manually update.

Just a reminder, the app (https://cwn.casil.ucdavis.edu/#info/PMP_ONeill-D8

[2016-07-19 22:00] msdogan commented on #63
@jrmerz I thought you and Quinn have a script that can read Microsoft Access DB file. But, I think I can manually add cost data to those pumping links. Yes, I can pull the data from DSS file in CSV format. I guess I need to add cost folder that contains penalty values for each month in csv format, and then I will update link.geojson file. I will send a pull request when I am done with that.

[2016-07-19 22:02] jrmerz commented on #63
Ya, I think quinn has that magic script.  But for now the edit and pull request sounds great!  That's actually how we would like to see outside modifications made in the future, once we are rolling.

[2016-07-20 19:31] #63 closed

[2016-09-28 17:17] #56 closed

[2016-11-18 23:20] msdogan opened #65 "SR_CR1 & SR_CR2 Initial and Ending Storage"
@jrmerz Can we make initial and ending storage values for SR_CR1 and SR_CR2 zero? Current values (`0.00999999977648258`) are causing a mass balance problem in Pyvin. There is no inflow or outflow for this two reservoirs. These were not a problem in HEC-PRM because they were rounded to one decimal so they were zero.

SR_CR1 https://raw.githubusercontent.com/ucd-cws/calvin-network-data/master/data/c

[2016-11-19 23:09] jrmerz commented on #65
@msdogan merged

[2016-11-19 23:09] #65 closed

[2017-08-18 16:02] #30 closed

[2017-08-18 16:03] #36 closed

[2017-08-18 16:03] #52 closed

[2020-08-07 08:40] msdogan opened #69 "File path error while cloning"
GitHub gives following error while cloning calvin-network-data repository. I checked the file (sources/calvin120/Appendix G: Groundwater.doc) and it is in the repo but not sure why it is happening. @nickrsan Do you have any easy fix?

![Capture](https://user-images.githubusercontent.com/14085662/89626794-9982a900-d8a2-11ea-93dd-84112b40bfc0.PNG)

[2020-08-07 18:22] nickrsan commented on #69
Hi Mustafa,

@mlmaskey and I had encountered this issue as well, and I was pretty sure I knew what it was, but hadn't resolved it. The Appendix G filename was only valid on Unix systems (Mac/Linux) since it had a colon in the name. I renamed the file and recommitted it and it should clone fine now since the issue was on file checkout and not the actual storage of the versions. Please give it a try

[2020-08-07 18:22] #69 closed

[2020-08-08 09:32] msdogan commented on #69
@nickrsan it worked, thanks!

[2021-01-30 05:45] mlmaskey opened #72 "Why duplicate links are created while using matrix command?"
@nickrsan,  @msdogan, and others,
cc @josue-medellin

I explored the CALVIN network adding 13 nodes near the Tulare Lake basin as additional agriculture demand to transfer from the SWAT model. These nodes are `AS14a, b`, `AS15a, b`, ..., `AS21a,b,c` with appropriate links to GW nodes and similar penalty functions as CVPMs has. I succeeded in exporting the matrix file for the Python version of the